name: database

services:
  postgres:
    image: postgres:17.5-alpine3.21
    environment:
      - POSTGRES_USER=${DB_USER:-postgres}
      - POSTGRES_PASSWORD=${DB_PASS:-pass}
      - POSTGRES_DB=${DB_NAME}
      - TZ=Europe/Moscow
    command: postgres -c wal_level=logical -c max_connections=200
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - "pgdata:/var/lib/postgresql/data"
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${DB_USER:-postgres} -d ${DB_NAME}'"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: always

  liquibase:
    image: liquibase:4.31.1-alpine
    volumes:
      - "./liquibase/changelog:/liquibase/changelog"
      - "./liquibase/liquibase.properties:/liquibase/liquibase.properties"
    environment:
      - "LIQUIBASE_COMMAND_USERNAME=${DB_USER:-postgres}"
      - "LIQUIBASE_COMMAND_PASSWORD=${DB_PASS:-pass}"
      - "LIQUIBASE_COMMAND_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}"
    depends_on:
      postgres:
        condition: service_healthy
    command: ["liquibase", "update"]

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASS}
    volumes:
      - "./pgadmin/servers.json:/pgadmin4/servers.json"
    depends_on:
      - postgres
    ports:
      - "5050:80"
    restart: always

volumes:
  pgdata:
