name: database

services:

  liquibase:
    image: liquibase:4.31.1-alpine
    volumes:
      - "./liquibase/changelog:/liquibase/changelog"
      - "./liquibase/liquibase.properties:/liquibase/liquibase.properties"
    environment:
      - "LIQUIBASE_COMMAND_USERNAME=${DB_USER:-postgres}"
      - "LIQUIBASE_COMMAND_PASSWORD=${DB_PASS:-pass}"
      - "LIQUIBASE_COMMAND_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}"
    command: ["liquibase", "update"]

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASS}
    volumes:
      - "./pgadmin/servers.json:/pgadmin4/servers.json"
    ports:
      - "5050:80"
    restart: always

volumes:
  pgdata:
